{% extends 'store/base.html' %}
{% block content %}
     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"> Password Reset Form</h1>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="Update Password">
                </form> 
                </center>
            </div>
        </div>

{% endblock %}