{% extends 'store/base.html' %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Reset Password</h1>
                <p class="lead fw-normal text-white-50 mb-0">Enter your email address and we'll send you a link to reset your password.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form method="POST" >
                        {% csrf_token %}
                        {{form.as_p}}
                        </div>
                        <button type="submit" class="btn btn-primary">Send Reset Link</button>
                    </form>
                </div>
            </center>
        </div>
    </div>
{% endblock %}
