{% extends 'store/base.html' %}
{% block content %}
     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"> Password Reset</h1>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                <p> Your new password has been set. You can now log in with your new password.</p>

                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                </center>
            </div>
        </div>

{% endblock %}