{% extends 'store/base.html' %}
{% block content %}
     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Password Reset Sent</h1>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <br>
                <center>
                <div class="col-lg-8 col-md-10 mx-auto">
            
        <p>An email has been sent with instructions to reset your password. Please check your inbox.</p>
                     </div>
                </center>
            </div>
        </div>

{% endblock %}